name: CI_Testing

on:
  push:
    branches:
      - main
      - 'feature/**'

jobs:
  rspec:
    name: RSpec
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      # Dummy Keys for testing purposes from test.rb
      SECRET_KEY_BASE: "test_only_change_in_prod"
      AR_ENC_PRIMARY_KEY: "00000000000000000000000000000000"
      AR_ENC_DETERMINISTIC_KEY: "11111111111111111111111111111111"
      AR_ENC_SALT: "salt-salt-salt-salt"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Prepare DB
        run: bin/rails db:prepare

      - name: Run RSpec
        env:
          TERM: xterm-256color
          FORCE_COLOR: "1"
          CLICOLOR_FORCE: "1"
        run: |
            echo "::group::RSpec"
            bundle exec rspec --color
            echo "::endgroup::"

  cucumber:
    name: Cucumber
    runs-on: ubuntu-latest
    needs: rspec
    continue-on-error: true
    env:
      RAILS_ENV: test
      SECRET_KEY_BASE: "test_only_change_in_prod"
      AR_ENC_PRIMARY_KEY: "00000000000000000000000000000000"
      AR_ENC_DETERMINISTIC_KEY: "11111111111111111111111111111111"
      AR_ENC_SALT: "salt-salt-salt-salt"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Prepare DB
        run: bin/rails db:prepare

      - name: Run Cucumber
        env:
          TERM: xterm-256color
          FORCE_COLOR: "1"
          CLICOLOR_FORCE: "1"
        run: |
            echo "::group::Cucumber"
            bundle exec cucumber --color
            echo "::endgroup::"